.navbar{
  background-color: #07689f;
  font-size:20px;
  padding-top:20px;
  text-indent:60px;
}

#top{
  background-color:#07689f;
  color:white;
  padding-top:120px;
  margin-bottom:0px;
  border:15px solid #07689f;
  border-bottom-right-radius:100px;
  border-bottom-left-radius:100px;
  margin-bottom:0px;
}

h1{
  color:#eeeeee;
  font-size:5.5rem;
  line-height:1.5;
  font-family: 'Lobster Two', cursive;
}

.title{
  font-size:3rem;
  font-family:Gabriola;
}

.text{
  font-size:3rem;
}
.titl{
  font-size:2rem;
  font-family:Gabriola;
  padding-top:20px;
  line-height:2.5rem;
}

.top-cloud{
  position:absolute;
  right:250px;
  top:100px;
}

.middle-cloud{
  position:absolute;
  left:200px;
}

.bottom-cloud{
  position:absolute;
  right:180px;
  bottom:70px;
}

#middle{
  background-color:#white;
  color: black;
}
ul{
  list-type-style:none;
  text-align:center;
}

.badges{
  display:inline-block;
}
.fab{
  font-family: 'Font Awesome 5 Brands';
  font-weight:400;
}

#skills{
  background-color: #132743;
}

.skill-progress{
  text-align:justify;
}
.skill-title{
  line-height:53px;
  margin-left:250px;
  font-weight:normal;
}

span{
  font-size:20px;
}

.progress{
  line-height:40px;
  margin-left:150px;
  margin-right:50px;
}


#bottom{
  padding-top:10px;
  margin-bottom:0px;
  background-color:#373a40;
}
