
body{
margin:0px;
text-align:center;
}

h1{
margin:0px;
/*font-family:Gabriola;*/
/*font-family: 'Pacifico', cursive;*/
/*font-family: 'Helvetica Neue',Helvetica,Arial,'sans-serif';*/
font-family: 'Lobster Two', cursive;
/*color:#364f6b;*/
color:#eeeeee;
font-size:5.5em;
/*font-weight:bold;*/
line-height: 1.5;

}
p{
  font-family:Gabriola;
  /*color:#364f6b;*/
  color:#e0ece4;
  font-size:3em;
  font-weight:bold;
}
.top-container{
  /*background-color:#b1e8ed;*/
  /*background-color: #283149;*/
  /*background-color: #1a1a2e;*/
  background-color: #07689f;

  position:relative;
  padding-top:100px;
}

.link{
  /*background-color: #b1e8ed;*/
  background-color: #07689f;;
  position:relative;
}

.bottom-cloud{
  position:absolute;
  left:200px;
  bottom:300px;
}

.top-cloud{
  position:absolute;
  right:250px;
  top:30px;
}

.right-cloud{
  position:absolute;
  right:100px;
  bottom:150px;
}

.birds{
  position:absolute;
  right:650px;
  bottom:290px;
}

.sun{
  position:absolute;
  left:200px;
  top:20px;
}

.middle-container{
  /*background-color:#e3fdfd;*/
  baclground-color:#faffb8;
  padding-top:100px;
  text-align:center;
}

.profile{
  color:black;
  font-size:25px;
}

tr,th,td{
  font-family:Segoe UI;
  color:#364f6b;
}

.skills{
  color:#07031a;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;

}

table{
  text-align:center;
}

.menu{
     list-style-type:none;
     margin:0;
     padding:0;
     overflow:hidden;
     background-color:#07689f;;

}

.menu-link{
  float:right;
  margin-right:90px;
}

.menu-link .list{
  display:block;
  font-family:Gabriola;
  padding:12px 12px;
  font-size:1.5em;
  text-decoration:none;
  color:#0f3057;
  text-align:center;
  word-spacing:30px;
  font-weight:bold;

}

.skills{
  padding-bottom:30px;
  font-family: 'Crimson Text', serif;
}


.list:hover{
  background-color:white;
}

.li:hover{
  /*background-color: #ffd57e;*/
}

.star:hover{
  background-color: #ffd57e;
}

.bottom-container, .name, .footer{
  /*background-color: #0278ae;*/
  background-color: #000000;
}


.footer{
  font-size:20px;
  color:white;
  font-weight:bold;
  text-decoration:none;
  font-style:"Times New Roman", Times, serif;
  margin:10px;
  text-align:center;
}


.name{
  margin-bottom:0px;
    font-size:24px;
    font-style:font-family: 'Crimson Text', serif;
    color:white;
}

.badges{
  list-style-type:none;
  font-family:'Helvetica Neue',Helvetica,Arial,'sans-serif';
  text-align:center;
  font-weight:bold;
  font-size: 1.1em;
  color:#1d2323;
}

.li{
  display: inline;
  font-weight:bold;
  margin-right:20px;
}


i{
  color:#900c3f;
  font-size:2em;
  text-align:center;
}


.l{
  display: inline;
  font-family: Segoe UI;
  font-weight:bold;
  margin-right:20px;
}

.animate__animated.animate__fadeInUp{
  --animate-duration:4s;
}

.animate__animated.animate__zoomIn{
  --animate-duration:8s;
}
